<div class="container container-fluid">
    <div class="box">
        <h2 class="name">Pokemons</h2>
        <a href="#" class="play" routerLink="/list">Show Now</a>
        <img width="375" src="../../../assets/pokemon_images/Pikachu.png" alt="Pokemon image" class="pokemon">
    </div>

    <div class="box">
        <h2 class="name">Coaches</h2>
        <a href="#" class="play">Coach</a>
        <img width="225" src="../../../assets/pokemon_images/pokeball.png" alt="Pokemon image" class="pokemon">
    </div>
</div>
